# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.agents
.resume

# Agent
AGENTS.md

# Prettier
.prettierignore
.prettierrc